@import "tailwindcss";

@theme {
  --color-primary: #c95a5a;
}

:root {
  --primary: #c95a5a;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body,
html {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.heading-text {
  display: inline-block;
}
.heading-text h2::after {
  @apply bg-zinc-300/90;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  height: 5px;
  width: 50%;
}
